[submodule "vendor/tenbucks_registration_client"]
	path = vendor/tenbucks_registration_client
	url = https://bitbucket.org/webincolor/tenbucks_registration_client.git
[submodule "vendor/tenbuckswebhooks"]
	path = vendor/tenbuckswebhooks
	url = https://bitbucket.org/webincolor/tenbuckswebhooks.git
